h1 {
  font: 'Courier Bold';
  color: #281e5d;
}

.post {
  border: 2px;
  border-radius: 25px #281e5d;
  color: #281e5d;
  font: 'Courier';
}

.reply {
  border: 2px;
  border-radius: 25px #281e5d;
  color: #281e5d;
  font: 'Courier';
}

button {
  font: 'Courier';
  color: #281e5d;
}
