h1 {
  font: 'Courier Bold';
  color: #281e5d;
}

textarea {
  font: 'Courier';
}

div {
  padding: 5px;
}

.post {
  display: flex;
  border: 2px solid #281e5d;
  border-radius: 25px;
  font: 'Courier';
  padding: 10px;
  position: relative;
}

.reply {
  display: flex;
  border: 2px solid #281e5d;
  border-radius: 25px;
  font: 'Courier';
  padding: 10px;
  position: relative;
}

button.reply {
  position: absolute;
  right: 10;
  bottom: 10;
}

.voting {
  font: 'Courier';
  margin-right: 10px;
  padding: 5px;
}

button.voting {
  font: 'Courier Bold';
  padding: 5px;
}

button {
  font: 'Courier Bold';
  color: #281e5d;
  padding: 5px;
}
